@import "compass";

/**
 * WEBFONTS
 * ----------------------------------------------------------------------------
 *
 * The demo site uses Source Sans Pro (400, 700) and Source Code Pro (400), all
 * served from Google Web Fonts.
 */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/mrl8jkM18OlOQN8JLgasD9Hq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}



/**
 * MICRO CLEARFIX
 * ----------------------------------------------------------------------------
 *
 * Micro clearfix by Nicholas Gallagher to clear floats on elements.
 * (see: http://nicolasgallagher.com/micro-clearfix-hack/)
 */

%clearfix {
  *zoom: 1;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}



/**
 * GENERAL STYLING
 * ----------------------------------------------------------------------------
 *
 * Styles used for the larger portion of the site.
 */

* {
  @include box-sizing(border-box);
}

body {
  margin: 0;
  font: 100%/1.5 Source Sans Pro, sans-serif;
}

.wrap {
  max-width: 50em;
  margin: 0 auto;
  padding: 3em 1.5em;
}

a {
  color: #eb8a4c;
  text-decoration: none;
  @include transition(border-bottom 0.25s ease-in-out);

  &:hover {
    border-bottom-width: 4px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

section,
header,
footer {
  :last-child {
    margin-bottom: 0;
  }
}



/**
 * SITE INFO
 * ----------------------------------------------------------------------------
 *
 * Styles used for the header and the footer of the site. The styles are
 * supposed to differentiate both sections from the rest of the site.
 */

header,
footer {
  text-align: center;
  color: #fff;
  background-color: #eb8a4c;

  a {
    font-weight: bold;
    color: #fff;
    border-bottom: 2px solid;
  }
}

h1 {
  margin: 0 0 0.75em;
  font-size: 2em;
  line-height: 1.5em;
  text-transform: uppercase;

  a {
    border-bottom-width: 6px;

    &:hover {
      border-bottom-width: 8px;
    }
  }

  @media (min-width: 30em) {
    font-size: 4em;
  }
}

.intro {
  font-size: 1.5em;
}

.download {
  display: block;
  max-width: 15em;
  margin: 0 auto;
  padding: 0.75em;
  text-shadow: 0 -1px 0 rgba(#111, 0.25);
  @include background-image(linear-gradient(top, rgba(#fff, 0.5), rgba(#fff, 0.3)));
  background-color: #eb8a4c;
  background-color: lighten(#eb8a4c, 5%)\9;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(#111, 0.2);
  @include transition(background-color 0.25s ease-in-out);

  &:hover,
  &:focus {
    border-bottom-width: 1px;
    background-color: lighten(#eb8a4c, 5%);
    background-color: lighten(#eb8a4c, 10%)\9;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

footer {
  border-top: 1px solid #ddd;
}



/**
 * DEMO SECTION
 * ----------------------------------------------------------------------------
 *
 * The demo section contains the acutal demonstration of the site, as well as
 * the code used to create the demo.
 */

.demo {
  @extend %clearfix;
  margin-bottom: 3em;
}

.demo textarea {
  display: block;
  width: 100%;
  height: 15em;
  padding: 1.5em;
  font: inherit;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  resize: vertical;
  cursor: pointer;

  &:focus {
    border: 1px solid #4cadeb;
    border-top-color: darken(#4cadeb, 10%);
    box-shadow: 0 1px 3px rgba(#111, 0.25) inset;
    outline: none;
    cursor: text;
  }

  @media (min-width: 41em) {
    float: left;
    width: 70%;
    margin-right: 5%;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
  }
}

.demo .result {
  margin: 0;
  padding: 1.5em;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  list-style: none;

  @media (min-width: 41em) {
    float: left;
    width: 25%;
    height: 15em;
    border-radius: 5px;
  }
}

pre,
code {
  font: 100%/1.5 Source Code Pro, monospace;
}

pre {
  margin: 0;
  padding: 1.5em;
  @include background(linear-gradient(left, #f5f5f5 30%, rgba(#f5f5f5, 0)), linear-gradient(left, rgba(#f5f5f5, 0), #f5f5f5 70%), radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)));
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0, 0 0, 100% 0;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-attachment: local, local, scroll, scroll;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-x: scroll;
  overflow-y: visible;
}