@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/mrl8jkM18OlOQN8JLgasD9Hq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
pre {
  margin-top: 0;
}

body {
  margin: 0;
  font: 100%/1.5 Source Sans Pro, sans-serif;
}

a {
  color: #eb8a4c;
  text-decoration: none;
  border-bottom: 1px solid;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
}

h3 {
  font-size: 1.2em;
  line-height: 1.25;
}

p {
  margin-bottom: 1.5em;
}

hr {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1.5em;
}

.section {
  padding: 1.5em 1.5em 0;

  @include mq(m) {
    padding: 4.5em 3em 3em;
  }
}

.light-section {
  @extend .section;

  background-image: linear-gradient(to bottom, #fafafa, #f2f2f2);
}

.dark-section {
  @extend .section;

  color: #fff;
  background-image: linear-gradient(to bottom, #4e4e4e, #464646);

  pre {
    color: #333;
    border: 0;
  }
}

.wrap {
  max-width: 50em;
  margin: 0 auto;
  overflow: hidden;
}