pre,
code {
  font: 100%/1.5 Source Code Pro, monospace;
}

pre {
  margin-bottom: 1.5em;
  padding: 1.5em;
  color: #fff;
  background-color: #4e4e4e;
  border-radius: 5px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.terminal-line {
  display: block;

  &::before {
    content: "$ ";
    color: lighten(#333, 50%);
  }
}