pre,
code {
  font: 100%/1.5 Source Code Pro, monospace;
}

pre {
  margin-bottom: 1.5em;
  padding: 1.5em;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: auto;
}