.site-header {
  padding: 3em 1.5em 2.25em;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(to bottom, #eba44c, #eb894c);

  .button {
    margin-bottom: 0;

    @include mq(s) {
      margin-bottom: 0.75em;
    }
  }

  @include mq(m) {
    padding: 4.5em 3em;
  }
}

.small-header {
  padding: 1.5em;

  @include mq(m) {
    padding: 1.5em 3em;
    text-align: left;
  }

  .site-heading {
    margin-bottom: 0;
    font-size: 2em;
  }
}

.site-heading {
  margin-bottom: 0.75em;
  text-transform: uppercase;

  a {
    color: #fff;
    border-bottom: 0;
  }

  @include mq(m) {
    font-size: 4em;
  }
}

.intro {
  margin-bottom: 2.307em;
  font-size: 1.3em;

  @include mq(m) {
    font-size: 1.5em;
    margin-bottom: 2em;
  }
}

.site-footer {
  padding: 1.5em 1.5em 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;

  @include mq(m) {
    padding: 1.5em 3em 0em;
  }
}

.muted {
  color: #e5e5e5;
}