@import "vars";

@import "media-queries";
@import "grid";

/**
 * WEBFONTS
 * ----------------------------------------------------------------------------
 *
 * The demo site uses Source Sans Pro (400, 700) and Source Code Pro (400), all
 * served from Google Web Fonts.
 */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/mrl8jkM18OlOQN8JLgasD9Hq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}



/**
 * MICRO CLEARFIX
 * ----------------------------------------------------------------------------
 *
 * Micro clearfix by Nicholas Gallagher to clear floats on elements.
 * (see: http://nicolasgallagher.com/micro-clearfix-hack/)
 */

%clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}



/**
 * GENERAL STYLING
 * ----------------------------------------------------------------------------
 *
 * Styles used for the larger portion of the site.
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 100%/1.5 Source Sans Pro, sans-serif;
}

.section {
  padding: 3em;
}

.section--bordered {
  border-bottom: 1px solid #eee;
}

.section--alt {
  background-image: linear-gradient(to bottom, #fafafa, #f7f7f7);
}

.wrap {
  max-width: 50em;
  margin: 0 auto;
}

a {
  color: #eb8a4c;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: border-bottom 0.25s ease-in-out;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-top: 0;
}

h3 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

hr {
  border: 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 1.5em;
}



/**
 * SITE INFO
 * ----------------------------------------------------------------------------
 *
 * Styles used for the header and the footer of the site. The styles are
 * supposed to differentiate both sections from the rest of the site.
 */

.site-header,
footer {
  text-align: center;
}

.site-header {
  padding: 4.5em 1.5em;
  background-image: linear-gradient(to bottom, #eba44c, #eb894c);

  h1 a {
    color: #fff;
    border-bottom: 0;
  }
}

h1 {
  margin: 0 0 0.75em;
  font-size: 2em;
  line-height: 1.5em;
  text-transform: uppercase;

  a {
    border-bottom-width: 6px;

    &:hover {
      border-bottom-width: 8px;
    }
  }

  @media (min-width: 30em) {
    font-size: 4em;
  }
}

.intro-section {
  padding: 0 3em 6em;
}

.intro {
  color: #fff;
  font-size: 1.3em;

  @media (min-width: 30em) {
    font-size: 1.5em;
    margin-bottom: 2em;
  }
}

.button {
  display: block;
  padding: 0.75em 1.5em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(#fff, 0.2), rgba(#fff, 0));
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(#333, 0.15);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.button--download {
  background-color: #4c94eb;

  &:hover,
  &:focus {
    background-color: lighten(#4c94eb, 10%);
  }
}

.button--tweet {
  background-color: #5f5f5f;

  &:hover,
  &:focus {
    background-color: lighten(#5f5f5f, 10%);
  }
}



/**
 * DEMO SECTION
 * ----------------------------------------------------------------------------
 *
 * The demo section contains the acutal demonstration of the site, as well as
 * the code used to create the demo.
 */

.demo textarea {
  display: block;
  width: 100%;
  height: 15em;
  padding: 1.5em;
  margin-bottom: 1.5em;
  font: inherit;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  box-shadow: 0;
  resize: vertical;
  cursor: pointer;
  transition: border-color 0.25s ease-in-out;

  &:focus {
    border: 1px solid #4cadeb;
    outline: none;
    cursor: text;
  }

  @media (min-width: 41em) {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
  }
}

.result {
  margin: 0;
  padding: 0.75em 1.5em;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  list-style: none;

  @media (min-width: 41em) {
    border-radius: 5px;
  }
}

.result-item {
  padding: 0.75em 0;

  .result .col:nth-child(-n+2) & {
    border-bottom: 1px solid #e5e5e5;
  }
}

.result-count {
  float: right;
}

pre,
code {
  font: 100%/1.5 Source Code Pro, monospace;
}

pre {
  margin: 0 0 1.5em;
  padding: 1.5em;
  background: linear-gradient(left, #f5f5f5 30%, rgba(#f5f5f5, 0)), linear-gradient(left, rgba(#f5f5f5, 0), #f5f5f5 70%), radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0, 0 0, 100% 0;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-attachment: local, local, scroll, scroll;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: auto;
}